<h3>Create A Playlist!</h3>

Test slider
<p>Acousticness</p>
<form>
<input
    id="acousticness_slider"
    type="range"
    min="10"                    // default 0
    max="100"                  // default 100
    step="1"                   // default 1
>
<br />
<p>Danceability</p>
<input
    id="danceability_slider"
    type="range"
    min="10"                    // default 0
    max="100"                  // default 100
    step="1"                   // default 1
>
<br />
<p>Duration</p>
<input
    id="duration_ms_slider"
    type="range"
    min="10"                    // default 0
    max="100"                  // default 100
    step="1"                   // default 1
>
<br />
<p>Energy</p>
<input
    id="energy_slider"
    type="range"
    min="10"                    // default 0
    max="100"                  // default 100
    step="1"                   // default 1
>
<br />
<p>Instrumentalness</p>
<input
    id="instrumentalness_slider"
    type="range"
    min="10"                    // default 0
    max="100"                  // default 100
    step="1"                   // default 1
>
<input type='submit' value='submit' />
<p>Key</p>
<input
    id="key_slider"
    type="range"
    min="10"                    // default 0
    max="100"                  // default 100
    step="1"                   // default 1
>
<p>Liveness</p>
<input
    id="liveness_slider"
    type="range"
    min="10"                    // default 0
    max="100"                  // default 100
    step="1"                   // default 1
>
<p>Loudness</p>
<input
    id="loudness_slider"
    type="range"
    min="10"                    // default 0
    max="100"                  // default 100
    step="1"                   // default 1
>
<p>Mode</p>
<input
    id="mode_slider"
    type="range"
    min="10"                    // default 0
    max="100"                  // default 100
    step="1"                   // default 1
>
<p>Popularity</p>
<input
    id="popularity_slider"
    type="range"
    min="10"                    // default 0
    max="100"                  // default 100
    step="1"                   // default 1
>
<input
    id="playlist_name_field"
    type="text"
>
<input
    id="number_of_songs_field"
    type="number"
>
<input type='submit' value='Generate Playlist' class="btn-btn-danger" />
</form>
