<% if current_user %>
<h1> Welcome, <%= current_user.name %> </h1>
<% else %>
<h1> Welcome please log in to your Spotify account</h1>
<div class="menuitem"><%= link_to "Log in",  spotify_login_path, class: "link_text" %></div>
<% end %>
