/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .tooltip {
     position: relative;
     display: inline-block;
     border-bottom: 1px dotted black;
 }

 .tooltip .tooltiptext {
     visibility: hidden;
     width: 300px;
     background-color: #1db954;
     color: black;
     text-align: center;
     border-radius: 6px;
     padding: 5px 0;

     /* Position the tooltip */
     position: absolute;
     z-index: 1;
     top: 20px;
     left: 80%;

 }

 .tooltip:hover .tooltiptext {
     visibility: visible;
 }

 * {
  box-sizing: border-box;
}
.menu {
  float:left;
  width:20%;
  text-align:center;
}
.menuitem {
  background-color:#1db954;
  padding:8px;
  margin-top:7px;
}
.link_text {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.circleimg {
   border-radius: 50%;
}

.notice {
  overflow: hidden;
  z-index: 999;
  border: 1px solid black;
  outline-color: black;
  top: 30%;
  left: 50%;
  background-color: rgba(161,195,0,1);
  color: black;
  padding: 9px 0;
  text-shadow: rgba(99,130,0,.30) 1px 1px 1px;
  font-size: 21px;
  padding-left: 10px;
  padding-right: 10px;
}

.error {
  overflow: hidden;
  z-index: 999;
  border: 1px solid black;
  outline-color: black;
  top: 30%;
  left: 50%;
  background-color: rgba(194,0,1,1);
  color: black;
  padding: 9px 0;
  text-shadow: rgba(99,130,0,.30) 1px 1px 1px;
  font-size: 21px;
  padding-left: 10px;
  padding-right: 10px;
}

.main {
  float:left;
  width:60%;
  padding:0 20px;
}
.right {
  background-color:#1db954;
  float:left;
  width:20%;
  padding:15px;
  margin-top:7px;
  text-align:center;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
  }
}
