<h3>Create A Playlist!</h3>

<form action="/dashboard/create_playlist" method="post">

<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">



<div class="tooltip"> Acousticness
    <span class="tooltiptext">A confidence measure from 0.0 to 1.0 of whether the track is acoustic. 1.0 represents high confidence the track is acoustic.</span>
</div>
<input
    id="acousticness_slider"
    type="range"
    min="1"
    max="100"
    step="1"
    name="acousticness"
>
<br />
<div class="tooltip"> Danceability
  <span class="tooltiptext">Danceability describes how suitable a track is for dancing based on a combination of musical elements including tempo, rhythm stability, beat strength, and overall regularity. A value of 0.0 is least danceable and 1.0 is most danceable.</span>
</div>
<input
    id="danceability_slider"
    type="range"
    min="1"
    max="100"
    step="1"
    name="danceability"
    data-orientation="vertical"
>
<br />
<p>Duration</p>
<input
    id="duration_ms_slider"
    type="range"
    min="1"
    max="100"
    step="1"
    name="duration"
>
<br />
<p>Energy</p>
<input
    id="energy_slider"
    type="range"
    min="1"
    max="100"
    step="1"
    name="energy"
>
<br />
<p>Instrumentalness</p>
<input
    id="instrumentalness_slider"
    type="range"
    min="1"
    max="100"
    step="1"
    name="instrumentalness"
>
<p>Key</p>
<input
    id="key_slider"
    type="range"
    min="1"
    max="100"
    step="1"
    name="key"
>
<p>Liveness</p>
<input
    id="liveness_slider"
    type="range"
    min="1"
    max="100"
    step="1"
    name="liveness"
>
<p>Loudness</p>
<input
    id="loudness_slider"
    type="range"
    min="1"
    max="100"
    step="1"
    name="loudness"
>
<p>Mode</p>
<input
    id="mode_slider"
    type="range"
    min="1"
    max="100"
    step="1"
    name="mode"
>
<p>Popularity</p>
<input
    id="popularity_slider"
    type="range"
    min="1"
    max="100"
    step="1"
    name="popularity"
>
<p> Playlist Name</p>
<input
    id="playlist_name_field"
    type="text"
    name="playlist_name"
>
<br />
<input id="number_of_songs_field" type="number" name="limit" min="1" max="100" value="20">
<br />
<input type='submit' value='Generate Playlist' class="btn-btn-danger" />
</form>
